In [1]:
import pandas as pd
import os
from os.path import isfile, join
import csv
import numpy as np
from skimage.io import imread, imshow
from skimage import transform
import cv2
from nltk.corpus import stopwords
#nltk.download('stopwords')
from nltk.tokenize import word_tokenize
import re

# Image Feature Extraction

###  Reading Annotation Files and Generating Majority Votes

In [2]:
#All annotation files should be placed under Annotations Folder
mypath=os.getcwd()+'/'+'Annotations'
Labelfiles = [f for f in os.listdir(mypath) if isfile(join(mypath, f))]

In [3]:
df_list=[]
all_labels= pd.DataFrame([], columns=['FileName','Lable_Tree','Lable_Mythical','Lable_Animal'])
for file in Labelfiles:
    #print(file)
    try:
        df=pd.read_excel(mypath+'/'+file, names=['FileName','Lable_Tree','Lable_Mythical','Lable_Animal'])
    except:
        pass
    all_labels=all_labels.append(df)

In [4]:
all_labels['FileName']=all_labels.apply(lambda x: x['FileName']+'.jpg' if '.jpg' not in x['FileName'] else x['FileName'],axis=1)

In [5]:
all_labels

                      FileName Lable_Tree Lable_Mythical Lable_Animal
0        01_binladen_part1.jpg          0              0            1
1        01_binladen_part2.jpg          1              1            0
2        01_binladen_part3.jpg          0              0            0
3        01_binladen_part4.jpg          0              0            0
4        01_binladen_part5.jpg          1              0            0
..                         ...        ...            ...          ...
198  36_thegirlchild_part4.jpg          0              0            0
199  36_thegirlchild_part5.jpg          0              0            0
200  36_thegirlchild_part6.jpg          0              0            0
201  36_thegirlchild_part7.jpg          0              0            0
202  36_thegirlchild_part8.jpg          1              0            0

[2315 rows x 4 columns]

In [6]:
all_labels_majVotes=all_labels.groupby(['FileName']).agg({'Lable_Tree':sum,'Lable_Mythical':sum,'Lable_Animal':sum})

In [7]:
all_labels_majVotes

                           Lable_Tree  Lable_Mythical  Lable_Animal
FileName
01_binladen.jpg                   8.0             8.0           8.0
01_binladen_part1.jpg            10.0             5.0           6.0
01_binladen_part2.jpg            12.0            12.0           2.0
01_binladen_part3.jpg             0.0             2.0           1.0
01_binladen_part4.jpg             0.0             1.0           1.0
...                               ...             ...           ...
36_thegirlchild_part4.jpg         1.0             1.0           0.0
36_thegirlchild_part5.jpg         0.0             1.0           0.0
36_thegirlchild_part6.jpg         0.0             3.0           0.0
36_thegirlchild_part7.jpg         0.0             1.0           0.0
36_thegirlchild_part8.jpg        12.0             1.0           0.0

[204 rows x 3 columns]

In [8]:
# Calculating assigning Majority Votes to labels from all annotators
all_labels_majVotes['Lable_Tree']=np.where(all_labels_majVotes['Lable_Tree']>5,1,0)
all_labels_majVotes['Lable_Mythical']=np.where(all_labels_majVotes['Lable_Mythical']>5,1,0)
all_labels_majVotes['Lable_Animal']=np.where(all_labels_majVotes['Lable_Animal']>5,1,0)
all_labels_majVotes.reset_index(inplace=True)

In [9]:
all_labels_majVotes_parts=all_labels_majVotes[all_labels_majVotes.FileName.str.contains('_part')]

In [10]:
all_labels_majVotes_parts

                      FileName  Lable_Tree  Lable_Mythical  Lable_Animal
1        01_binladen_part1.jpg           1               0             1
2        01_binladen_part2.jpg           1               1             0
3        01_binladen_part3.jpg           0               0             0
4        01_binladen_part4.jpg           0               0             0
5        01_binladen_part5.jpg           1               0             1
..                         ...         ...             ...           ...
199  36_thegirlchild_part4.jpg           0               0             0
200  36_thegirlchild_part5.jpg           0               0             0
201  36_thegirlchild_part6.jpg           0               0             0
202  36_thegirlchild_part7.jpg           0               0             0
203  36_thegirlchild_part8.jpg           1               0             0

[172 rows x 4 columns]

In [11]:
all_labels_majVotes_cleaned=all_labels_majVotes_parts.copy()
all_labels_majVotes_cleaned['FileName'].replace(to_replace="_part\d+", value=r"", regex=True,inplace=True)

In [12]:
all_labels_majVotes_cleaned

                FileName  Lable_Tree  Lable_Mythical  Lable_Animal
1        01_binladen.jpg           1               0             1
2        01_binladen.jpg           1               1             0
3        01_binladen.jpg           0               0             0
4        01_binladen.jpg           0               0             0
5        01_binladen.jpg           1               0             1
..                   ...         ...             ...           ...
199  36_thegirlchild.jpg           0               0             0
200  36_thegirlchild.jpg           0               0             0
201  36_thegirlchild.jpg           0               0             0
202  36_thegirlchild.jpg           0               0             0
203  36_thegirlchild.jpg           1               0             0

[172 rows x 4 columns]

In [13]:
# Calculating and Assigning Majority Votes to Main.jpg files from all part files
all_labels_majVotes_main=all_labels_majVotes_cleaned.groupby(['FileName']).agg({'Lable_Tree':sum,'Lable_Mythical':sum,'Lable_Animal':sum})
all_labels_majVotes_main['Lable_Tree']=np.where(all_labels_majVotes_main['Lable_Tree']>=1,1,0)
all_labels_majVotes_main['Lable_Mythical']=np.where(all_labels_majVotes_main['Lable_Mythical']>=1,1,0)
all_labels_majVotes_main['Lable_Animal']=np.where(all_labels_majVotes_main['Lable_Animal']>=1,1,0)
all_labels_majVotes_main.reset_index(inplace=True)

In [14]:
all_labels_majVotes_main

                       FileName  Lable_Tree  Lable_Mythical  Lable_Animal
0               01_binladen.jpg           1               1             1
1                 03_manasa.jpg           0               1             1
2               04_binladen.jpg           1               1             1
3               05_binladen.jpg           1               1             1
4                 06_chandi.jpg           1               1             1
5                07_gujarat.jpg           1               1             1
6                08_tsunami.jpg           0               1             1
7               09_shotopir.jpg           1               1             1
8       11_weddingofthefish.jpg           0               0             1
9   12_victimizationofwomen.jpg           1               0             0
10            13_santallife.jpg           1               1             1
11  15_victimizationofgirls.jpg           1               0             1
12          16_sitaramayana.jpg           1               1             1
13               17_krishna.jpg           1               1             1
14               18_tsunami.jpg           1               1             0
15               19_tsunami.jpg           1               1             1
16             21_girlchild.jpg           1               0             0
17       23_animalsandbirds.jpg           0               0             1
18       24_communalharmony.jpg           1               0             1
19               25_tsunami.jpg           1               1             1
20      26_weddingofthefish.jpg           0               0             1
21            27_triballife.jpg           1               1             1
22          28_manasamangal.jpg           0               1             1
23    30_theabductionofsita.jpg           1               1             1
24          31_manasamangal.jpg           1               1             1
25          32_chandimangal.jpg           1               1             1
26   33_binladen11september.jpg           0               0             1
27           34_animalworld.jpg           1               0             1
28              35_shotopir.jpg           1               1             1
29          36_thegirlchild.jpg           1               0             0

In [15]:
all_labels_majVotes_final=all_labels_majVotes_main.append(all_labels_majVotes_parts)

In [16]:
all_labels_majVotes_final

                      FileName  Lable_Tree  Lable_Mythical  Lable_Animal
0              01_binladen.jpg           1               1             1
1                03_manasa.jpg           0               1             1
2              04_binladen.jpg           1               1             1
3              05_binladen.jpg           1               1             1
4                06_chandi.jpg           1               1             1
..                         ...         ...             ...           ...
199  36_thegirlchild_part4.jpg           0               0             0
200  36_thegirlchild_part5.jpg           0               0             0
201  36_thegirlchild_part6.jpg           0               0             0
202  36_thegirlchild_part7.jpg           0               0             0
203  36_thegirlchild_part8.jpg           1               0             0

[202 rows x 4 columns]

### Reading all Images and Extracting Features

In [17]:
#All images should be placed under Images folder in the source directory
mypath=os.getcwd()+'/'+'Images'
imgfiles = [f for f in os.listdir(mypath) if isfile(join(mypath, f)) and '.jpg' in join(mypath, f)]

In [18]:
image_features=[]
#features_dict={}
for raw_img in imgfiles:
    image = imread(mypath+'/'+raw_img)
    resized_img = transform.resize(image, (100, 50))
    feature_matrix = np.zeros((resized_img.shape[0],resized_img.shape[1])) 
    for i in range(0,resized_img.shape[0]):
        for j in range(0,resized_img.shape[1]):
            feature_matrix[i][j] = round((resized_img[i,j,0] + resized_img[i,j,1] + resized_img[i,j,2])/3,2)
    features = np.reshape(feature_matrix, (100*50))
    features_dict={}
    features_dict['file']=raw_img
    features_dict['feature']=features   
    image_features.append(features_dict)

In [19]:
imagedf = pd.DataFrame(image_features, columns =['file', 'feature'])

In [20]:
imagedf2=pd.DataFrame(imagedf["feature"].to_list())

In [21]:
imagedf_features=imagedf[['file']].join(imagedf2)

In [22]:
# Appending Labels to Image Features
imagedf_allLables=imagedf_features.join(all_labels_majVotes_final)

In [23]:
imagedf_allLables.head()

,file,0,1,2,3,4,5,6,7,8,...,4994,4995,4996,4997,4998,4999,FileName,Lable_Tree,Lable_Mythical,Lable_Animal
0,01_binladen.jpg,0.72,0.70,0.71,0.72,0.72,0.72,0.73,0.74,0.76,...,0.71,0.71,0.71,0.71,0.71,0.71,01_binladen.jpg,1.0,1.0,1.0
1,01_binladen_part1.jpg,0.09,0.14,0.16,0.19,0.16,0.15,0.17,0.19,0.21,...,0.44,0.15,0.14,0.43,0.08,0.36,03_manasa.jpg,0.0,1.0,1.0
1,01_binladen_part1.jpg,0.09,0.14,0.16,0.19,0.16,0.15,0.17,0.19,0.21,...,0.44,0.15,0.14,0.43,0.08,0.36,01_binladen_part1.jpg,1.0,0.0,1.0
2,01_binladen_part2.jpg,0.09,0.11,0.13,0.64,0.31,0.08,0.04,0.06,0.25,...,0.71,0.43,0.34,0.59,0.67,0.68,04_binladen.jpg,1.0,1.0,1.0
2,01_binladen_part2.jpg,0.09,0.11,0.13,0.64,0.31,0.08,0.04,0.06,0.25,...,0.71,0.43,0.34,0.59,0.67,0.68,01_binladen_part2.jpg,1.0,1.0,0.0

### Writing the final Image Features and Labels to CSV File

In [24]:
imagedf_allLables=imagedf_allLables.drop(['FileName'], axis=1)
#imagedf_allLables.T.reset_index().to_csv('PycharmProjects/pythonProject/all_feat_lab_transpose.csv')

In [25]:
# Image Features for all the main JPG files
imagedf_allLables_main=imagedf_allLables[~imagedf_allLables.file.str.contains('_part')]
imagedf_allLables_main.to_csv('all_feat_lab_main.csv')
#imagedf_allLables_main.T.reset_index().to_csv('PycharmProjects/pythonProject/all_feat_lab_main_transpose.csv')

In [26]:
imagedf_allLables_main

,file,0,1,2,3,4,5,6,7,8,...,4993,4994,4995,4996,4997,4998,4999,Lable_Tree,Lable_Mythical,Lable_Animal
0,01_binladen.jpg,0.72,0.70,0.71,0.72,0.72,0.72,0.73,0.74,0.76,...,0.67,0.71,0.71,0.71,0.71,0.71,0.71,1.0,1.0,1.0
6,03_manasa.jpg,0.76,0.76,0.76,0.71,0.70,0.72,0.73,0.69,0.67,...,0.64,0.65,0.65,0.69,0.75,0.76,0.77,0.0,1.0,1.0
13,04_binladen.jpg,0.73,0.76,0.76,0.74,0.73,0.69,0.66,0.66,0.69,...,0.72,0.74,0.74,0.75,0.76,0.76,0.75,1.0,1.0,1.0
20,05_binladen-179x1024.jpg,0.78,0.79,0.78,0.75,0.70,0.67,0.67,0.65,0.65,...,0.67,0.69,0.70,0.70,0.71,0.71,0.72,0.0,0.0,1.0
28,06_chandi.jpg,0.78,0.78,0.79,0.78,0.79,0.83,0.83,0.83,0.82,...,0.65,0.65,0.62,0.61,0.68,0.72,0.71,1.0,1.0,1.0
28,06_chandi.jpg,0.78,0.78,0.79,0.78,0.79,0.83,0.83,0.83,0.82,...,0.65,0.65,0.62,0.61,0.68,0.72,0.71,0.0,0.0,1.0
37,07_gujarat.jpg,0.40,0.40,0.30,0.28,0.27,0.28,0.27,0.28,0.33,...,0.62,0.64,0.53,0.63,0.63,0.61,0.21,0.0,1.0,1.0
45,08_tsunami.jpg,0.20,0.29,0.29,0.31,0.47,0.34,0.42,0.60,0.40,...,0.72,0.51,0.55,0.48,0.52,0.70,0.40,0.0,0.0,0.0
50,09_shotopir.jpg,0.73,0.72,0.73,0.71,0.72,0.72,0.72,0.73,0.72,...,0.61,0.61,0.61,0.64,0.69,0.69,0.70,0.0,1.0,0.0
57,11_weddingofthefish.jpg,0.72,0.73,0.72,0.70,0.70,0.72,0.71,0.74,0.76,...,0.64,0.66,0.64,0.66,0.69,0.68,0.66,0.0,1.0,1.0
62,12_victimizationofwomen.jpg,0.13,0.13,0.14,0.14,0.18,0.21,0.20,0.20,0.18,...,0.54,0.39,0.47,0.43,0.50,0.47,0.42,0.0,0.0,1.0
70,13_santallife.jpg,0.77,0.78,0.78,0.73,0.72,0.71,0.71,0.72,0.71,...,0.65,0.66,0.66,0.68,0.68,0.71,0.73,0.0,0.0,0.0
75,15_victimizationofgirls.jpg,0.78,0.79,0.80,0.80,0.80,0.78,0.79,0.76,0.76,...,0.69,0.71,0.71,0.71,0.71,0.72,0.73,0.0,1.0,0.0
81,16_sitaramayana.jpg,0.09,0.13,0.11,0.12,0.13,0.09,0.09,0.08,0.10,...,0.40,0.48,0.39,0.39,0.34,0.38,0.34,0.0,0.0,0.0
88,17_krishna.jpg,0.78,0.79,0.75,0.74,0.74,0.72,0.70,0.70,0.71,...,0.72,0.71,0.71,0.72,0.73,0.73,0.74,1.0,1.0,0.0
93,18_tsunami.jpg,0.78,0.79,0.68,0.68,0.70,0.69,0.69,0.69,0.69,...,0.65,0.65,0.66,0.65,0.67,0.74,0.75,0.0,1.0,1.0
99,19_tsunami.jpg,0.78,0.76,0.74,0.71,0.69,0.66,0.63,0.66,0.65,...,0.60,0.60,0.64,0.67,0.67,0.71,0.71,0.0,1.0,0.0
105,21_girlchild.jpg,0.77,0.79,0.80,0.79,0.78,0.79,0.78,0.77,0.77,...,0.72,0.71,0.70,0.69,0.70,0.71,0.70,0.0,0.0,0.0
113,22_fishwedding.jpg,0.28,0.39,0.41,0.41,0.42,0.45,0.42,0.40,0.38,...,0.35,0.30,0.26,0.33,0.32,0.32,0.29,0.0,0.0,0.0
114,23_animalsandbirds.jpg,0.46,0.39,0.37,0.29,0.26,0.27,0.27,0.43,0.48,...,0.39,0.43,0.41,0.26,0.31,0.20,0.35,NaN,NaN,NaN
118,24_communalharmony.jpg,0.88,0.89,0.88,0.85,0.85,0.86,0.87,0.87,0.89,...,0.69,0.69,0.72,0.77,0.76,0.75,0.75,0.0,0.0,1.0
126,25_tsunami.jpg,0.70,0.55,0.24,0.52,0.64,0.69,0.70,0.65,0.46,...,0.52,0.30,0.33,0.31,0.35,0.37,0.36,0.0,0.0,0.0
133,26_weddingofthefish.jpg,0.72,0.72,0.74,0.70,0.69,0.70,0.71,0.71,0.70,...,0.66,0.65,0.67,0.65,0.65,0.68,0.68,1.0,0.0,0.0
138,27_triballife.jpg,0.77,0.77,0.78,0.74,0.70,0.70,0.72,0.72,0.70,...,0.60,0.56,0.55,0.57,0.54,0.63,0.71,0.0,0.0,1.0
143,28_manasamangal.jpg,0.76,0.76,0.72,0.69,0.68,0.69,0.69,0.67,0.65,...,0.64,0.63,0.65,0.65,0.66,0.68,0.69,1.0,0.0,1.0
150,30_theabductionofsita.jpg,0.71,0.72,0.69,0.67,0.64,0.63,0.63,0.62,0.60,...,0.60,0.59,0.60,0.60,0.59,0.60,0.59,0.0,1.0,1.0
160,31_manasamangal.jpg,0.83,0.83,0.82,0.79,0.73,0.74,0.74,0.73,0.73,...,0.66,0.64,0.65,0.66,0.75,0.77,0.78,0.0,1.0,1.0
167,32_chandimangal.jpg,0.74,0.75,0.71,0.68,0.68,0.68,0.68,0.68,0.70,...,0.62,0.59,0.59,0.66,0.71,0.70,0.69,0.0,1.0,1.0
176,33_binladen11september.jpg,0.72,0.73,0.74,0.71,0.69,0.69,0.71,0.71,0.68,...,0.65,0.65,0.64,0.67,0.68,0.68,0.69,0.0,1.0,0.0
182,34_animalworld.jpg,0.25,0.35,0.33,0.50,0.48,0.39,0.42,0.51,0.45,...,0.36,0.38,0.30,0.24,0.29,0.44,0.28,0.0,0.0,1.0
187,35_shotopir.jpg,0.72,0.74,0.75,0.70,0.59,0.62,0.61,0.62,0.63,...,0.72,0.72,0.71,0.73,0.71,0.74,0.76,0.0,0.0,1.0
194,36_thegirlchild.jpg,0.60,0.25,0.09,0.10,0.26,0.69,0.63,0.66,0.64,...,0.74,0.74,0.78,0.83,0.81,0.80,0.60,1.0,1.0,1.0

# Text Feature Extraction

### Reading all the Text Files from the directory

In [27]:
#All text files should be placed under text folder
mypath=os.getcwd()+'/'+'Text'
txtfiles = [f for f in os.listdir(mypath) if isfile(join(mypath, f))]

#Reading the Text and Image Mapping file
image_text_mapping=pd.read_excel('LinkingImageAndText.xlsx',skiprows=1)

### Extracting the Text file features and Tokenising the words

In [28]:
fileList=[]

for textfile in txtfiles:
    f=open(mypath+'/'+textfile, 'r', encoding = 'cp850')
    lines=[]
    for line in f:
        if ('Name:' not in line) and ('Translation Source:' not in line) and ('Artist:' not in line) and ('Text:' not in line):
            #print(line)
            lines.append(line.split())
    word_list=[word.lower() for line in lines for word in line]
    tokens_without_sw = [re.sub('[Ã´Ã§Ã¶,.();!?Â£]', '', word) for word in word_list if not word in stopwords.words()+['the','there','this','&']]
    
    tokendict={}
    tokendict['file']=textfile
    #tokendict['text_filemap_col']=text_filemap_col
    tokendict['tokens']=tokens_without_sw
    fileList.append(tokendict)

In [29]:
text_feature_df=pd.DataFrame(data=fileList)

In [30]:
all_labels_majVotes_main

                       FileName  Lable_Tree  Lable_Mythical  Lable_Animal
0               01_binladen.jpg           1               1             1
1                 03_manasa.jpg           0               1             1
2               04_binladen.jpg           1               1             1
3               05_binladen.jpg           1               1             1
4                 06_chandi.jpg           1               1             1
5                07_gujarat.jpg           1               1             1
6                08_tsunami.jpg           0               1             1
7               09_shotopir.jpg           1               1             1
8       11_weddingofthefish.jpg           0               0             1
9   12_victimizationofwomen.jpg           1               0             0
10            13_santallife.jpg           1               1             1
11  15_victimizationofgirls.jpg           1               0             1
12          16_sitaramayana.jpg           1               1             1
13               17_krishna.jpg           1               1             1
14               18_tsunami.jpg           1               1             0
15               19_tsunami.jpg           1               1             1
16             21_girlchild.jpg           1               0             0
17       23_animalsandbirds.jpg           0               0             1
18       24_communalharmony.jpg           1               0             1
19               25_tsunami.jpg           1               1             1
20      26_weddingofthefish.jpg           0               0             1
21            27_triballife.jpg           1               1             1
22          28_manasamangal.jpg           0               1             1
23    30_theabductionofsita.jpg           1               1             1
24          31_manasamangal.jpg           1               1             1
25          32_chandimangal.jpg           1               1             1
26   33_binladen11september.jpg           0               0             1
27           34_animalworld.jpg           1               0             1
28              35_shotopir.jpg           1               1             1
29          36_thegirlchild.jpg           1               0             0

### Tagging the majority Vote Labels to Text File

In [31]:
image_text_mapping.drop(image_text_mapping.columns[[0,1]], axis=1, inplace=True)
image_text_mapping.columns=['ScrollNumber','ImageFileName','TextFileName']
image_file_lables=all_labels_majVotes_main[['FileName','Lable_Tree','Lable_Mythical','Lable_Animal']]
image_file_lables.columns=['file','Label_Tree','Label_Mythical','Label_Animal']

In [32]:
image_txt_lables=image_file_lables.merge(image_text_mapping,how='left' ,left_on='file', right_on='ImageFileName',
          suffixes=('_image', '_text'))

In [33]:
text_labels=image_txt_lables[~image_txt_lables.file.str.contains('_part')]
text_labels=text_labels[['TextFileName','ImageFileName','Label_Tree','Label_Mythical','Label_Animal']]
text_labels.dropna(subset=['TextFileName'],inplace=True)
text_labels

,TextFileName,ImageFileName,Label_Tree,Label_Mythical,Label_Animal
0,LadenStory.txt,01_binladen.jpg,1,1,1
1,ManashaMangal.txt,03_manasa.jpg,0,1,1
2,BinLaden.txt,04_binladen.jpg,1,1,1
4,ChandiMangal_v2.txt,06_chandi.jpg,1,1,1
5,GujratRiots.txt,07_gujarat.jpg,1,1,1
6,Tsunami.txt,08_tsunami.jpg,0,1,1
7,SatyaPir.txt,09_shotopir.jpg,1,1,1
8,WeddingOfFish_v2.txt,11_weddingofthefish.jpg,0,0,1
9,VictimizationWomen_v2.txt,12_victimizationofwomen.jpg,1,0,0
11,VictimizationWomen.txt,15_victimizationofgirls.jpg,1,0,1
12,Ramayana.txt,16_sitaramayana.jpg,1,1,1
13,KrishnaLila.txt,17_krishna.jpg,1,1,1
14,Tsunami_v2.txt,18_tsunami.jpg,1,1,0
15,Tsunami_v3.txt,19_tsunami.jpg,1,1,1
16,TheGirlChild_v2.txt,21_girlchild.jpg,1,0,0
18,CommunalHarmony.txt,24_communalharmony.jpg,1,0,1
19,Tsunami_v2.txt,25_tsunami.jpg,1,1,1
20,WeddingOfFish.txt,26_weddingofthefish.jpg,0,0,1
21,SantalOrigins_v2.txt,27_triballife.jpg,1,1,1
22,ManashaMangal.txt,28_manasamangal.jpg,0,1,1
23,TheAbductionOfSita.txt,30_theabductionofsita.jpg,1,1,1
24,ManashaMangal.txt,31_manasamangal.jpg,1,1,1
25,ChandiMangal_v2.txt,32_chandimangal.jpg,1,1,1
26,LadenStory_02a.txt,33_binladen11september.jpg,0,0,1
28,SatyaPir_v2.txt,35_shotopir.jpg,1,1,1
29,TheGirlChild.txt,36_thegirlchild.jpg,1,0,0

In [34]:
text_feature_lab_df=text_feature_df.merge(text_labels,how='left', left_on='file', right_on='TextFileName')

In [35]:
text_feature_lab_df.dropna(subset=['Label_Tree','Label_Mythical','Label_Animal'],inplace=True)
text_feature_lab_df.drop(['TextFileName'], axis=1,inplace=True)
text_feature_lab_df.drop_duplicates(subset=['file','ImageFileName','Label_Tree','Label_Mythical','Label_Animal'], keep='last',inplace=True)
#text_feature_lab_df.reset_index(drop=True)

### One Hot ENcoding of Text Features

In [36]:
text_feature_lab_df_OHE = text_feature_lab_df['tokens'].str.join('|').str.get_dummies()
result = pd.concat([text_feature_lab_df, text_feature_lab_df_OHE], axis=1)
result.drop(['tokens'],axis=1,inplace=True)

### Writing the Final Text Features File to CSV

In [37]:
result.to_csv('text_feat_lab.csv',index=False)